# Reverse proxies for Flask and Tornado web applications.
RewriteEngine on

# Within the domain of the cluster we are on (e.g. ligo.caltech.edu,
# ligo-la.caltech.edu, or ligo-wa.caltech.edu), Apache is running on ldas-jobs
# and the web applications are running on emfollow. Determine the hostname of
# the proxied server by replacing "ldas-jobs." with "emfollow.".
RewriteCond "%{SERVER_NAME}" "^ldas-jobs\.(.+)$"
RewriteRule ".*" - [E=PROXIED_SERVER_NAME:emfollow.%1]

# Capture the user from the URI.
RewriteCond "%{REQUEST_URI}" "^/~(.*?)/"
RewriteRule ".*" - [E=TILDE_USER:%1]

# Port for Flower and Flask apps (production).
RewriteCond "%{ENV:TILDE_USER}" "^emfollow/"
RewriteRule ".*" - [E=FLOWER_PORT:5555,E=FLASK_PORT:5556]

# Port for Flower and Flask apps (playground).
RewriteCond "%{ENV:TILDE_USER}" "^emfollow-playground/"
RewriteRule ".*" - [E=FLOWER_PORT:5557,E=FLASK_PORT:5558]

# The reverse proxy rules themselves.
RewriteRule ^flower/?(.*)$ http://%{ENV:PROXIED_SERVER_NAME}:%{ENV:FLOWER_PORT}/$1 [P]
RewriteRule ^gwcelery/?(.*)$ http://%{ENV:PROXIED_SERVER_NAME}:%{ENV:FLASK_PORT}/$1 [P]
