variables:
  # Allow Celery to run as root, because everything runs as root under Docker.
  C_FORCE_ROOT: 'true'
  # Checking out the source is the exception rather than the rule because
  # most of our CI jobs run from tarballs or wheels or don't require the source
  # at all.
  GIT_STRATEGY: none

stages:
  - dist
  - test
  - deploy

# Build source distribution
sdist:
  image: python:3.6-slim
  stage: dist
  variables:
    GIT_STRATEGY: fetch
  before_script:
    # Versioneer will need access to the git tool.
    - apt-get -q update
    - apt-get -yq install --no-install-recommends git
  script:
    - python setup.py sdist
    - mv dist/* .
  artifacts:
    paths:
      - '*.tar.gz'

# Build binary distribution
bdist:
  image: python:3.6-slim
  stage: test
  script:
    - tar --strip-components 1 -xf *.tar.*
    - python setup.py bdist_wheel
    - mv dist/* .
  dependencies:
    - sdist
  artifacts:
    paths:
      - '*.whl'

# Build Docker container for dependencies
.dependencies: &dependencies
  stage: dist
  variables:
    GIT_STRATEGY: fetch
    IMAGE_TAG: $CI_REGISTRY_IMAGE/$CI_JOB_NAME:$CI_COMMIT_REF_NAME
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - |
      cat <<EOF > Dockerfile
      FROM python:${CI_JOB_NAME#*python}
      COPY requirements.txt .
      RUN pip --no-cache-dir install -r requirements.txt
      RUN rm -f requirements.txt
      EOF
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
    - if [ "${CI_COMMIT_TAG:0:1}" = "v" ]; then docker tag $IMAGE_TAG ${IMAGE_TAG%:*}:latest; docker push ${IMAGE_TAG%:*}:latest; fi
dependencies/python3.6:
  <<: *dependencies
dependencies/python3.7:
  <<: *dependencies

# Run unit tests and coverage measurement
.test: &test
  stage: test
  coverage: '/^TOTAL\s+.*\s+(\d+\.?\d*)%/'
  before_script:
    - apt-get update -qq && apt-get install -y -qq redis-server
  script:
    - tar --strip-components 1 -xf *.tar.*
    - pip install pytest-cov -r test-requirements.txt
    - python setup.py test --addopts='-vv --cov --cov-report=html --cov-report=term --junit-xml=junit.xml'
  dependencies:
    - sdist
  artifacts:
    paths:
      - htmlcov/
    reports:
      junit: junit.xml
test/python3.6:
  image: $CI_REGISTRY_IMAGE/dependencies/python3.6:$CI_COMMIT_REF_NAME
  <<: *test
test/python3.7:
  image: $CI_REGISTRY_IMAGE/dependencies/python3.7:$CI_COMMIT_REF_NAME
  <<: *test

lint:
  image: $CI_REGISTRY_IMAGE/dependencies/python3.6:$CI_COMMIT_REF_NAME
  stage: test
  script:
    - tar --strip-components 1 -xf *.tar.*
    - pip install flake8 'pep8-naming!=0.8.0'
    - flake8 --show-source .
  dependencies:
    - sdist

# Build docker container for application itself
.docker: &docker
  stage: deploy
  script:
    - IMAGE_TAG=$CI_REGISTRY_IMAGE/${CI_JOB_NAME#*/}:$CI_COMMIT_REF_NAME
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - |
      cat <<EOF > Dockerfile
      FROM $CI_REGISTRY_IMAGE/dependencies/${CI_JOB_NAME#*/}:$CI_COMMIT_REF_NAME
      COPY *.whl .
      RUN pip install *.whl
      RUN rm -f *.whl
      USER nobody
      WORKDIR /tmp
      ENTRYPOINT ["gwcelery"]
      EOF
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
    - if [ "${CI_COMMIT_TAG:0:1}" = "v" ]; then docker tag $IMAGE_TAG ${IMAGE_TAG%:*}:latest; docker push ${IMAGE_TAG%:*}:latest; fi
  dependencies:
    - bdist
docker/python3.6:
  <<: *docker
docker/python3.7:
  <<: *docker

# Generate documentation
doc:
  image: python:3.6-slim
  stage: test
  before_script:
    - apt-get update -qq && apt-get install -y -qq graphviz
  script:
    - tar --strip-components 1 -xf *.tar.*
    - python setup.py build_sphinx
  dependencies:
    - sdist

# SCCB request
open SCCB issue for release:
  image: python
  stage: deploy
  only:
    - tags@emfollow/gwcelery
  dependencies: []
  variables:
    GIT_STRATEGY: fetch
    PROJECT: sccb/requests
  script:
    - VERSION="$(python setup.py --version)"
    - >
      LAST_VERSION="$(git tag -l |
      python -c 'from pkg_resources import parse_version;
      import sys;
      current_version = parse_version(sys.argv[1]);
      versions = [parse_version(line) for line in sys.stdin];
      last_version = max(v for v in versions if v < current_version);
      print(last_version)' "$VERSION")"
    - MAJOR_MINOR_VERSION=$(echo "$VERSION" | cut -d . -f 1,2)
    - LAST_MAJOR_MINOR_VERSION=$(echo "$LAST_VERSION" | cut -d . -f 1,2)
    - TITLE="$CI_PROJECT_NAME-$VERSION"
    - >
      PROJECT_SLUG="$(
      python -c 'import urllib.parse, sys;
      print(urllib.parse.quote(sys.argv[1], safe=""))' "$PROJECT"
      )"
    - |
      cat > description <<EOF
      #### Details

      - **Package name:** $CI_PROJECT_NAME
      - **Version:** $VERSION
      - **Source:** https://pypi.org/packages/source/${CI_PROJECT_NAME:0:1}/$CI_PROJECT_NAME/$CI_PROJECT_NAME-$VERSION.tar.gz

      #### Description

      See [change log]($CI_PROJECT_URL/blob/v${VERSION}/CHANGES.rst) and
      [diff from last release](https://git.ligo.org/emfollow/gwcelery/compare/v${LAST_VERSION}...v${VERSION}).

      #### Distributions

      Not applicable: this project uses [continuous deployment](https://gwcelery.readthedocs.io/en/latest/deployment.html#continuous-deployment).

      #### Request type

      Please select all of the following that apply:

      - [ ] this is a new package
      - [$(if [ "$MAJOR_MINOR_VERSION" = "$LAST_MAJOR_MINOR_VERSION" ]; then echo 'X'; else echo ' '; fi)] this is a backwards-compatible update
      - [$(if [ "$MAJOR_MINOR_VERSION" = "$LAST_MAJOR_MINOR_VERSION" ]; then echo ' '; else echo 'X'; fi)] this is a backwards-incompatible update [API/ABI changes]

      #### SCCB Voting

      <!-- DO NOT EDIT THIS SECTION -->

      SCCB members will here indicate their vote to approve the above request:

      - [ ] Brunett
      - [ ] Carbognani
      - [ ] Clark
      - [ ] Macleod
      - [ ] Mendell
      - [ ] Mercer
      - [ ] Rollins
      EOF
    - >
      curl --silent --show-error --fail
      --request POST --header "Private-Token: $GITLAB_ACCESS_TOKEN"
      --data-urlencode "labels=Requested"
      --data-urlencode "title=$TITLE"
      --data-urlencode "description@description"
      "$CI_API_V4_URL/projects/$PROJECT_SLUG/issues"

# Publish coverage
pages:
  stage: deploy
  script:
    - mv htmlcov public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
  dependencies:
    - test/python3.6

# Upload package to PyPI
pypi:
  stage: deploy
  image: python:3.6-slim
  script:
    - pip install twine
    - twine upload *.tar.* *.whl
  dependencies:
    - sdist
    - bdist
  only:
    - tags@emfollow/gwcelery

.deploy-common: &deploy-common
  stage: deploy
  image:
    name: ligo/ssh
    entrypoint: [""]
  only:
    - master@emfollow/gwcelery
    - tags@emfollow/gwcelery
  dependencies: []
  before_script:
    - umask 0077
    # Set up LSC DataGrid credentials
    - echo "${ROBOT_KEYTAB}" | base64 -d > keytab
    - kinit emfollow-deployment/robot/runners.ligo.uwm.edu@LIGO.ORG -k -t keytab
    - ligo-proxy-init -k -p
    - grid-proxy-info -identity
    # Figure out which user to log in as (emfollow or emfollow-playground)
    - mkdir -p ~/.ssh
    - |
      echo Host emfollow > ~/.ssh/config
      case $CI_ENVIRONMENT_NAME in
        */CIT) echo HostName emfollow.ligo.caltech.edu >> ~/.ssh/config;;
        */LHO) echo HostName emfollow.ligo-wa.caltech.edu >> ~/.ssh/config;;
        */LLO) echo HostName emfollow.ligo-la.caltech.edu >> ~/.ssh/config;;
      esac
      case $CI_ENVIRONMENT_NAME in
        production/*) echo User emfollow >> ~/.ssh/config;;
        playground/*) echo User emfollow-playground >> ~/.ssh/config;;
      esac

# Continuous deployment.
# Note that all deployments except playground/CIT are manual.

.deploy-start: &deploy-start
  <<: *deploy-common
  script:
    # Update the repository.
    - |
      gsissh -T emfollow bash <<EOF
      set -e
      if [ ! -d .git ]; then git init; fi
      git fetch --tags ${CI_REPOSITORY_URL}
      git checkout -f $CI_COMMIT_SHA
      EOF
    # Reinstall and start (new session to reload bashrc).
    - |
      gsissh -T emfollow bash <<EOF
      . .bashrc
      set -e
      pip install --upgrade pipenv pip setuptools
      pipenv install --system --deploy
      gwcelery condor resubmit
      EOF

.deploy-stop: &deploy-stop
  <<: *deploy-common
  script: |
    gsissh -T emfollow bash <<EOF
    . .bashrc
    set -e
    gwcelery condor rm
    EOF

deploy to production at CIT:
  <<: *deploy-start
  when: manual
  environment:
    name: production/CIT
    on_stop: stop deployment on production at CIT
    url: https://emfollow.ligo.caltech.edu/flower

deploy to production at LHO:
  <<: *deploy-start
  when: manual
  environment:
    name: production/LHO
    on_stop: stop deployment on production at LHO
    url: https://emfollow.ligo-wa.caltech.edu/flower

deploy to playground at CIT:
  <<: *deploy-start
  environment:
    name: playground/CIT
    on_stop: stop deployment on playground at CIT
    url: https://emfollow.ligo.caltech.edu/playground/flower

deploy to playground at LHO:
  <<: *deploy-start
  when: manual
  environment:
    name: playground/LHO
    on_stop: stop deployment on playground at LHO
    url: https://emfollow.ligo-wa.caltech.edu/playground/flower

stop deployment on production at CIT:
  <<: *deploy-stop
  when: manual
  environment:
    name: production/CIT
    action: stop

stop deployment on production at LHO:
  <<: *deploy-stop
  when: manual
  environment:
    name: production/LHO
    action: stop

stop deployment on playground at CIT:
  <<: *deploy-stop
  when: manual
  environment:
    name: playground/CIT
    action: stop

stop deployment on playground at LHO:
  <<: *deploy-stop
  when: manual
  environment:
    name: playground/LHO
    action: stop
