# Files created by editing, developing, running tests
.*.swp
*~
*.egg-info
*.pyc
__pycache__
.eggs
.cache
.coverage*
.pytest_cache
build
dist
htmlcov

# Files created by running gwcelery inside the source directory
celerybeat-schedule
*.pid
*.log
*.rdb
*.sock

# Files created if the source directory is also the home directory
data
.astropy
.bash_history
.bash_logout
.emacs
.globus/usercert.pem
.globus/userkey.pem
.ipython
.kshrc
.lesshst
.local
.netrc
.viminfo
