[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# Our package and all of its dependencies.
gwcelery = {editable = true,path = "."}
# Include IPython for a nicer ``gwcelery shell`` experience.
ipython = "*"
# Include IPython kernel for Jupyter Lab support.
ipykernel = "*"
# Pull in flower from GitHub branch to pull in extra features.
flower = {git = "https://github.com/lpsinger/flower",ref = "custom-stats"}

[requires]
python_version = "3.7"
