[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# Our package and all of its dependencies.
gwcelery = {editable = true, path = "."}
# Include IPython for a nicer ``gwcelery shell`` experience.
ipython = "*"
# Include IPython kernel for Jupyter Lab support.
ipykernel = "*"
flower = ">= 1"
# Dependencies needed for running unit tests
pytest-celery = "*"
pytest-flask = "*"
pytest-socket = "*"
