astropy
celery[redis] >= 4.2.0
celery_eternal >= 0.0.3
flower
gwpy
healpy
jinja2
lalsuite >= 6.49
ligo-followup-advocate >= 0.0.11
ligo-gracedb >= 2.0.1
ligo-raven >= 1.8
ligo-segments
ligo.skymap >= 0.0.17
lscsoft-glue
lxml
numpy
p-astro
pygcn >= 0.1.16
pytest >= 3.0
safe-netrc
sentry-sdk
sleek-lvalert >= 0.0.4
voeventlib >= 1.2
