astropy
celery[redis] >= 4.2.0
celery_eternal >= 0.0.3
flower
gwpy
healpy
jinja2
lalsuite
ligo-followup-advocate >= 0.0.11
ligo-gracedb >= 2.0.0.dev1
ligo-raven >= 1.5
ligo.skymap >= 0.0.15
lscsoft-glue
lxml
numpy
p-astro
pygcn >= 0.1.16
pytest >= 3.0
sleek-lvalert
voeventlib >= 1.2
